.adminHome {
    display: flex; /* Divide em sidebar + conteúdo principal */
    height: 100vh; /* Ocupa a altura total da tela */
    background: linear-gradient(to bottom, 
    #FFB400 0%, 
    #FFB400 35%, 
    #fdb91a 60%, 
    #ffffff 100%);
}

.sidebar {
    text-align: center;
    font-family: "Lilita One", sans-serif;
    width: 250px;
    background: linear-gradient(to bottom, 
    #005A8D 0%, 
    #005A8D 25%, 
    #016ead 60%, 
    #f5fafc 100%
    );
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 1px rgba(0, 0, 0, 0.1);
}

.sidebarTitle {
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.sidebarButton {
    background-color: #ff9915;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebarButton:hover {
    background-color: #ffb347;
    color: #fff;
}

.mainContent {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Lilita One", sans-serif;
    font-size: 2.8rem;
    color: #005A8D;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-weight: 700;
}

.description {
    font-family: "Lilita One", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #2e2e2e;
    text-align: center;
}

.infoCards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 150px;
}

.card h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1rem;
    color: #666;
    font-weight: bold;
}

.sidebarButton.logout {
    background-color: #e74c3c; /* Vermelho para o botão de sair */
    color: #fff;
}

.sidebarButton.logout:hover {
    background-color: #c0392b;
}

.sidebarButton.listing {
    background-color: #3498db; /* Azul para os botões de listagem */
    color: #fff;
}

.sidebarButton.listing:hover {
    background-color: #2980b9;
}
