.featured {
    padding: 40px;
    text-align: center;
  }
  
  .featured h2 {
    font-family: "Lilita One", sans-serif;
    font-size: 2.7rem;
    color: #005A8D;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .animalGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .animalCard {
    background-color: #fafcfd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .animalCard:hover {
    transform: scale(1.05);
  }
  
  /* Estilo da imagem */
  .animalCard img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Estilo dos textos */
  .animalCard h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .animalCard p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 10px;
  }
  
 
  .animalCard button {
    background-color: #FF9915; 
    color: white; 
    text-shadow: 1px 1px 5px black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .animalCard button:hover {
    background-color: #c57702; 
    transform: scale(1.05); 
  }
  