/* src/styles/animalButtons.module.css */

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

.buttonWrapper {
    margin-top: 15px;
    text-align: center;
    max-width: 200px;
}

.button {
    font-weight: bold;
    background-color: #005A8D; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #c57702;
    transform: scale(1.05);
}

.description {
    font-size: 1rem;
    color: #000000;
    margin-top: 10px;
    line-height: 1.4;
}
