/* styles/dogsList.module.css */

.dogsContainer {
    margin: 20px auto;
    text-align: center;
}

.filter {
    margin-bottom: 20px;
}

.filter label {
    margin-right: 10px;
    font-size: 1.2rem;
}

.filter select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.dogList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.dogCard {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .dogCard {
        width: 150px;
        height: 150px;
    }
}
