.petDetails {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.petDetails h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.petDetails img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.petDetails p {
    font-size: 18px;
    margin: 10px 0;
}

.petDetails strong {
    font-weight: bold;
}

.adoptButton {
    background-color: #FF9915; 
    color: white; 
    text-shadow: 1px 1px 5px black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.adoptButton:hover {
    background-color: #c57702; 
    transform: scale(1.05); 
}
