/* styles/sidebar.module.css */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 20px;
    background: linear-gradient(to bottom, 
    #005A8D 0%, 
    #005A8D 25%, 
    #016ead 60%, 
    #f5fafc 100%
    );
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    overflow-y: auto;
    text-align: center;
    font-family: "Lilita One", sans-serif;
}

.sidebar .backButton {
    background-color: #ff4c15;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar .backButton:hover {
    background-color: #c57702;
}

.sidebar .filterTitle {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.sidebar h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.sidebar h1{
    color: white;
}

.sidebar button {
    background-color: #FF9915;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.sidebar button:hover {
    background-color: #c57702;
}

.sidebar button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
}
