.whyAdoption {
  padding: 40px;
  background-color: #f5fafc;
  text-align: center;
}

.whyAdoption h2 {
  font-family: "Lilita One", sans-serif;
  text-shadow: 1px 1px 3px black;
  color: #FF9915; 
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.content p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.8;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .whyAdoption {
    padding: 20px;
  }

  .whyAdoption h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }
}
